@media (min-width: 1200px) {
.container {
    max-width: 970px;
}
}
@media (min-width:400px){
.global-search {
padding: 20px 0;
text-align:center;
}
body {
padding-top: 5%;
padding-bottom: 15px;
background-color: #060CE9;
}
.global-search {
text-align:center;
padding:10px;
}
.global-search .form-control {
width:500px;
}
.global-search * {
display:inline-block;
margin-bottom:0;
}
}
.topcorner{
position:absolute;
top:2%;
right:2%;
}
.btn{
background-color: #4285F4;
border: none
}
.step-links a{
color: #4285F4;
}
#footer{
    /* display: table; */
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
}
.yellow-text {
    color: #FFCC00
}
#logo {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.description{
    margin-top: 30px;
    width: 50%;
}
.description p {
    color: #FFCC00;
    text-align: center;
    font-size: 16px;
}
#questions-container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.question-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 1px solid #FFCC00;
    height: 150px;
    background-color: navy;
}
.answer {
    height: 60%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.question {
    height: 40%;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.content-text {
    width: 100%;
    text-align: center;
    vertical-align: default;
    color: #FFCC00;
}
