<html background-color:"#060CE9">

<head>
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <form class="form-inline global-search">
        <!-- <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
            C
            <span style="color: #EA4335; ">S</span>
            <span style="color: #FBBC05; ">4</span>
            3
            <span style="color: #34A853; ">0</span>
            <span style="color: #EA4335; ">0</span>
        </h1> -->
        <!-- <h1 style="font-size: 55px; font-family: Futura; color: rgb(0, 4, 240);">
            Custom Jeopardy
        </h1> -->
        <img id="logo" src="/static/jeopardy-logo.png">
        <div class="description">
            <p>Welcome to your very own personalized Jeopardy game! Have you ever wanted to test your knowledge on a
                certain category of questions? This is your oppurtunity! Simply type in a keyword in the search bar
                below and we'll make you a game based on similar questions.</p>
        </div>
        <br><br>

        <div class="active-pink-4 mb-4">
            <input id="input" type="text" name="search" class="form-control"
                placeholder="What do you want to be tested on?">
        </div>
        <button type="submit" class="btn btn-info"> Go! </button>
    </form>

    <hr>

    <div id="trending">
        {% if not data %}
        {% if trending %}
        <h1 class="yellow-text" style="text-align: center;">Trending Topics:</h1>
        {% for d in trending %}
        <br>
        <div class="trending-item">
            <p class="content-text">{{d}}</p>
        </div>
        <!-- <p class="yellow-text">{{d[0]}}</p> -->
        {% endfor %}
        {% endif %}
        {% endif %}
    </div>

    <!-- <form class="form-inline global-search">
        {% if data %}
        <h1>{{output_message}}</h1>
        {% for d in data %}
        <br>
        <p>{{d}}</p>
        {% endfor %}
        {% endif %}
    </form> -->
    <div id="questions-container">
        {% if data %}
        <h1 class="yellow-text" style="text-align: center;">{{output_message}}</h1>
        {% for d in data %}
        <br>
        <div class="question-container">
            <div class="answer">
                <p class="content-text">{{d[0]}}</p>
            </div>
            <div class="question">
                <p class="content-text">{{d[1]}}</p>
            </div>
        </div>
        <!-- <p class="yellow-text">{{d[0]}}</p> -->
        {% endfor %}
        {% endif %}
    </div>
    <div id="footer">
        <p class="yellow-text" style="text-align: center;">Project Name: {{ name }}</p>
        <p class="yellow-text" style="text-align: center;">Student Name: ({{ netid }})</p>
    </div>
</body>

</html>